<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="captain.classsquared" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainPage"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StudentActivity"
            android:label="@string/title_activity_student"
            android:parentActivityName=".ui.MainPage"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainPage" />
        </activity>
        <activity
            android:name=".ui.EndPage"
            android:label="@string/title_activity_end_page"
            android:parentActivityName=".ui.StudentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="captain.classsquared.ui.StudentActivity" />
        </activity>
        <activity
            android:name=".ui.TeacherActivity"
            android:label="@string/title_activity_teacher_activty"
            android:parentActivityName=".ui.MainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="captain.classsquared.ui.MainPage" />
        </activity>
    </application>

</manifest>
